^contentpage {
    background-color:aliceblue;
}

label {
    color: black;
    font-family: sans-serif;
}

button {
    background-color: lightseagreen;
    color: white;
    text-transform: none;
    font-size: medium;
    font-style: bold;
}
.welcomeLabel{
    color:dodgerblue;
    font-style:oblique;
    font-size:large;
}
